.container-text-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    text-align: left; 
}

.container-text-area
.text-area{

    font-size: 16px;
    font-family: Inter;
    color: #344054;
 
    min-height: 100px;
    max-height: 100px;
    max-width: 100%;

    display: flex;

    border: 2px solid #D9D9D9;
    border-radius: 20px;
    outline: none;

    padding: 16px 24px 0 24px;

    cursor: pointer;
}
