.container-text-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0;
}

.container-text-area
.text-area{
    max-height: 104px;
    min-height: 104px;
    width: 500px;
    max-width: 500px;

    font-size: 16px;
    font-family: Inter;
    color: #344054;
 
    display: flex;
    text-align: left; 

    border: 2px solid #D9D9D9;
    border-radius: 20px;
    outline: none;

    padding: 16px 24px 0 24px;

    cursor: pointer;


}
