.select-status-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: max-content;
}

.select-status {
    height: 40px;
    width: 150px;

    font-size: 16px;
    font-family: Inter;
 
    display: flex;
    text-align: left; 

    border: 2px solid #D9D9D9;
    border-radius: 20px;
    outline: none;

    padding: 0 24px 0 24px;

    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
}

/* Status "ativo" */
.select-status.ativo {
    border-color: #28a745;
    background-color: #e6ffed;
    color: #155724;
}

/* Status "inativo" */
.select-status.inativo {
    border-color: #dc3545;
    background-color: #ffe6e6;
    color: #721c24;
}

.tag-ativo{
    position: absolute;
    width: 20px;
    height: 8px;
    border-radius: 10px;
    background-color: #28a745;
    z-index: 9999;
    top: 16px;
    right: 30px;
}

.tag-inativo{
    position: absolute;
    width: 20px;
    height: 8px;
    border-radius: 10px;
    background-color: #dc3545;
    z-index: 9999;
    top: 16px;
    right: 30px;
}