.btn-primary {
    height: 52px;
    width: 100%;

    font-size: 16px;
    color: #fff;

    text-align: center;

    border: none;
    border-radius: 20px;
    outline: none;

    padding: 16px 24px;

    background-color: #3051FF;

    cursor: pointer;
}

.btn-primary:hover {
    opacity: .8;
}

.btn-svg {
    padding: 16px;
    max-width: max-content !important;
}

.warning {
    background-color: #FF8E0C;
}

.danger {
    background-color: #FF4040;
}

.success {
    background-color: #10B981;
}

.list {
    background-color: #F30CFF;
}

.btn-tutorial {
    max-height: 30px;
    max-width: max-content;
    border-radius: 10px;
}

.button-disabled {
    background-color: #A9A9A9;
    cursor: not-allowed;
    opacity: 0.6;
}