.title_clip_pages{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    margin-bottom: 20px;
}

.title_clip_pages .svg{
    width: 40px;
    height: 40px;
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-right: 10px;
}

.title_clip_pages .title{
    color: #989898;
    font-size: 23px;
}

