.custom-input-mask {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    text-align: left;
}

.input-mask {
    height: 52px;

    font-size: 16px;
    font-family: Inter;
    color: #344054;

    display: flex;

    border: 2px solid #D9D9D9;
    border-radius: 20px;
    outline: none;

    padding: 0 24px;

    cursor: pointer;
}

.error {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: -7px;
    margin-left: 12px;
}